# Udacity Project - Wrangling Data Project - WeRateDogs

### <a> Table of Content </a> 
   [1- Importing Libraries](#Imporintg)
   <br>
   [2- Gathering Data](#Gathering)  
   
     - Import Twitter Archive.
     - Download Image Predictions Data. 
     - Import Data from json. 
    
   [3- Assessing Data](#Assessing)    
   [4- Observation ](#observation)  
  [5- Cleaninng Data](#Cleaninng)    
  [ 6-  Sorting Data](#Sorting)    
  [7-  Analyzing and Visulaizing](#Analyzing)

### Importing libraries
<a id="Importing" class="anchor"></a>

In [1]:
import pandas as pd
import numpy as np
import os
import requests
import json
import re
import matplotlib.pyplot as plt
import seaborn as sns

### Gathering Data
<a id="Gathering" class="anchor"></a>

### Import Twitter Archive

In [2]:
df_archive= pd.read_csv('twitter-archive-enhanced.csv',sep=',')
df_archive.head(25)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None

### Download Image Predictions Data

In [3]:
url = ' https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
file_name =url.split('/')[-1]
response = requests.get(url)
with open(os.path.join(file_name),mode='wb')as file:
    file.write(response.content)
with open(os.path.join(file_name),mode='r')as file:
    df_prediction=pd.read_csv(file_name,sep='\t')
print(df_prediction.head(2))

             tweet_id                                          jpg_url  \
0  666020888022790149  https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg
1  666029285002620928  https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg

   img_num                      p1   p1_conf  p1_dog                  p2  \
0        1  Welsh_springer_spaniel  0.465074    True              collie
1        1                 redbone  0.506826    True  miniature_pinscher

    p2_conf  p2_dog                   p3   p3_conf  p3_dog
0  0.156665    True    Shetland_sheepdog  0.061428    True
1  0.074192    True  Rhodesian_ridgeback  0.072010    True

### Import Data from json

In [4]:
lis_dic_json =[]
with open('tweet-json copy',mode='r')as file:
    #print(file.read())
    for line in file:
        data=json.loads(line)
        lis_dic_json.append({'tweet_id':data['id'],'retweet_count':data['retweet_count'],'favorite_count':data['favorite_count']})
col_lis=['tweet_id','retweet_count','favorite_count']
df_readtxt=pd.DataFrame(lis_dic_json,columns=col_lis)

In [5]:
print(df_readtxt.info())

print(df_readtxt.head(15))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB
None
              tweet_id  retweet_count  favorite_count
0   892420643555336193           8853           39467
1   892177421306343426           6514           33819
2   891815181378084864           4328           25461
3   891689557279858688           8964           42908
4   891327558926688256           9774           41048
5   891087950875897856           3261           20562
6   890971913173991426           2158           12041
7   890729181411237888          16716           56848
8   890609185150312448           4429           28226
9   890240255349198849           7711           32467
10  890006608113172480           7624           31166
11  889880896479866881           5156           28268
12  889665388333682689           8538           38818
13  889638837579907072           4735           27672
14  889531135344209921           2321           15359

### Assessing Data
<a id="Assessing" class="anchor"></a>

### Visual Assessing

###### - Missing values in name column
###### - doggo,floofer,puppo,pupper can be mergied in one column
###### - from source column,source can be extracted and erase html tag
###### - in predicitions, there are unuseful columns
###### - in json,column can be merged with archive

### Programatic Assessment

In [6]:
#to show display row
pd.set_option('display.max_colwidth', -1)

<ipython-input-6-ea73e4bc6edf>:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [7]:

df_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

In [8]:
print(df_archive.info)

<bound method DataFrame.info of                 tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
0     892420643555336193 NaN                    NaN
1     892177421306343426 NaN                    NaN
2     891815181378084864 NaN                    NaN
3     891689557279858688 NaN                    NaN
4     891327558926688256 NaN                    NaN
...                  ...  ..                     ..
2351  666049248165822465 NaN                    NaN
2352  666044226329800704 NaN                    NaN
2353  666033412701032449 NaN                    NaN
2354  666029285002620928 NaN                    NaN
2355  666020888022790149 NaN                    NaN

                      timestamp  \
0     2017-08-01 16:23:56 +0000
1     2017-08-01 00:17:27 +0000
2     2017-07-31 00:18:03 +0000
3     2017-07-30 15:58:51 +0000
4     2017-07-29 16:00:24 +0000
...                         ...
2351  2015-11-16 00:24:50 +0000
2352  2015-11-16 00:04:52 +0000
2353  2015-11-15 23:21:54 +0000
2354  2015-11-15 23:05:30 +0000
2355  2015-11-15 22:32:08 +0000

                                                                                  source  \
0     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
1     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
2     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
3     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
4     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
...                                                                                  ...
2351  <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
2352  <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
2353  <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
2354  <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
2355  <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>

                                                                                                                                                                    text  \
0     This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU
1     This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV
2     This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB
3     This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ
4     This is Franklin. He would like you to stop calling him "cute." He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f
...                                                                                                                                                                  ...
2351  Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq
2352  This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx
2353  Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR
2354  This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI
2355  Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj

      retweeted_status_id  retweeted_status_user_id  \
0    NaN                  NaN
1    NaN                  NaN
2    NaN                  NaN
3    NaN                  NaN
4    NaN                  NaN
...   ..                   ..
2351 NaN                  NaN
2352 NaN                  NaN
2353 NaN                  NaN
2354 NaN                  NaN
2355 NaN                  NaN

     retweeted_status_timestamp  \
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
2351  NaN
2352  NaN
2353  NaN
2354  NaN
2355  NaN

                                                                                                                        expanded_urls  \
0     https://twitter.com/dog_rates/status/892420643555336193/photo/1
1     https://twitter.com/dog_rates/status/892177421306343426/photo/1
2     https://twitter.com/dog_rates/status/891815181378084864/photo/1
3     https://twitter.com/dog_rates/status/891689557279858688/photo/1
4     https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1
...                                                                                                                               ...
2351  https://twitter.com/dog_rates/status/666049248165822465/photo/1
2352  https://twitter.com/dog_rates/status/666044226329800704/photo/1
2353  https://twitter.com/dog_rates/status/666033412701032449/photo/1
2354  https://twitter.com/dog_rates/status/666029285002620928/photo/1
2355  https://twitter.com/dog_rates/status/666020888022790149/photo/1

      rating_numerator  rating_denominator      name doggo floofer pupper  \
0     13                10                  Phineas   None  None    None
1     13                10                  Tilly     None  None    None
2     12                10                  Archie    None  None    None
3     13                10                  Darla     None  None    None
4     12                10                  Franklin  None  None    None
...   ..                ..                       ...   ...   ...     ...
2351  5                 10                  None      None  None    None
2352  6                 10                  a         None  None    None
2353  9                 10                  a         None  None    None
2354  7                 10                  a         None  None    None
2355  8                 10                  None      None  None    None

     puppo
0     None
1     None
2     None
3     None
4     None
...    ...
2351  None
2352  None
2353  None
2354  None
2355  None

[2356 rows x 17 columns]>

In [9]:
print(df_archive.name)

0       Phineas
1       Tilly
2       Archie
3       Darla
4       Franklin
          ...
2351    None
2352    a
2353    a
2354    a
2355    None
Name: name, Length: 2356, dtype: object

In [10]:
print(df_archive. rating_numerator.head(25))

0     13
1     13
2     12
3     13
4     12
5     13
6     13
7     13
8     13
9     14
10    13
11    13
12    13
13    12
14    13
15    13
16    12
17    13
18    13
19    13
20    12
21    13
22    14
23    13
24    13
Name: rating_numerator, dtype: int64

In [11]:
print(df_archive. rating_numerator.tail(25))

2331    8
2332    10
2333    9
2334    3
2335    1
2336    11
2337    10
2338    1
2339    11
2340    8
2341    9
2342    6
2343    10
2344    9
2345    10
2346    8
2347    9
2348    10
2349    2
2350    10
2351    5
2352    6
2353    9
2354    7
2355    8
Name: rating_numerator, dtype: int64

In [12]:
print(df_archive. rating_denominator.head(25))

0     10
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
11    10
12    10
13    10
14    10
15    10
16    10
17    10
18    10
19    10
20    10
21    10
22    10
23    10
24    10
Name: rating_denominator, dtype: int64

In [13]:
print(df_archive. rating_numerator.tail(25))

2331    8
2332    10
2333    9
2334    3
2335    1
2336    11
2337    10
2338    1
2339    11
2340    8
2341    9
2342    6
2343    10
2344    9
2345    10
2346    8
2347    9
2348    10
2349    2
2350    10
2351    5
2352    6
2353    9
2354    7
2355    8
Name: rating_numerator, dtype: int64

In [14]:
print(df_prediction.describe())

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17  1.203855     0.594548     1.345886e-01  6.032417e-02
std    6.785203e+16  0.561875     0.271174     1.006657e-01  5.090593e-02
min    6.660209e+17  1.000000     0.044333     1.011300e-08  1.740170e-10
25%    6.764835e+17  1.000000     0.364412     5.388625e-02  1.622240e-02
50%    7.119988e+17  1.000000     0.588230     1.181810e-01  4.944380e-02
75%    7.932034e+17  1.000000     0.843855     1.955655e-01  9.180755e-02
max    8.924206e+17  4.000000     1.000000     4.880140e-01  2.734190e-01

In [15]:
print(df_prediction.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB
None

In [16]:
print(df_readtxt.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB
None

In [17]:
print(df_archive.rating_numerator.value_counts())

12      558
11      464
10      461
13      351
9       158
8       102
7       55
14      54
5       37
6       32
3       19
4       17
1       9
2       9
420     2
0       2
15      2
75      2
80      1
20      1
24      1
26      1
44      1
50      1
60      1
165     1
84      1
88      1
144     1
182     1
143     1
666     1
960     1
1776    1
17      1
27      1
45      1
99      1
121     1
204     1
Name: rating_numerator, dtype: int64

In [18]:
print(df_archive.source.value_counts())

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                        91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                     33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>    11
Name: source, dtype: int64

In [19]:
print(df_archive.retweeted_status_id.head(25))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19    8.874740e+17
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
Name: retweeted_status_id, dtype: float64

In [20]:
print(df_archive.in_reply_to_status_id.head(50))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
30    8.862664e+17
31   NaN
32   NaN
33   NaN
34   NaN
35   NaN
36   NaN
37   NaN
38   NaN
39   NaN
40   NaN
41   NaN
42   NaN
43   NaN
44   NaN
45   NaN
46   NaN
47   NaN
48   NaN
49   NaN
Name: in_reply_to_status_id, dtype: float64

In [21]:
print(sum(df_prediction.jpg_url.duplicated()))

66

In [22]:
df_prediction.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [23]:
df_archive.isnull().sum()

tweet_id                      0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                     0
source                        0
text                          0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                 59
rating_numerator              0
rating_denominator            0
name                          0
doggo                         0
floofer                       0
pupper                        0
puppo                         0
dtype: int64

In [24]:
df_readtxt.isnull().sum()

tweet_id          0
retweet_count     0
favorite_count    0
dtype: int64

### observation
<a id="observation" class="anchor"></a>

#### There are quality issues and tidiness issues

##### Quality Issues

 - there are many columns have instuitable datatype like (time_stamp,p1_conf, p1, p1_dog).
 -  Nan values should be replace with ''None''.
 - extract numerator from text
 - clean source column
 - column name has invalid name like(a-an-all-etc)
 - numerator and denominator column has invalid number like(152,8,etc) should be fixed.
 - keep orginal tweets
 - drop duplicated rows.

###### Tidiness Issues:
 1- combine 3 sources in one dataframe.
 
 2- drop unwanted columns like(p2,p3,....)
 
 3-combine puppo , floofer ,doggo and pupper in one column

### Cleaninng Data
<a id="Cleaninng" class="anchor"></a>

In [25]:
#merge three sources in one dataframe to clean it

full_data =pd.merge(right = df_archive,left = df_readtxt,how= 'left', left_on='tweet_id',right_on='tweet_id')
full_data = pd.merge(left = full_data,right=df_prediction,left_on='tweet_id',right_on='tweet_id')
    
clean_data = full_data.copy()

#### Define
Keep orgoinal tweets

#### Code

In [26]:
#keep orginal tweets and drop rows related to retweets
for i in range(len(clean_data['text'])):
     x=clean_data['text'][i].startswith('RT @')
     if x == True:
        clean_data= clean_data.drop(i)

###### Test

In [27]:
print(clean_data['text'].apply(str).str.startswith('RT @').value_counts())

False    1994
Name: text, dtype: int64

###### Define
replace nan values with None

#### Code

In [28]:
clean_data = clean_data.replace({np.nan :None})

#### Test

In [29]:
print(clean_data.isnull().sum())

tweet_id                      0
retweet_count                 0
favorite_count                0
in_reply_to_status_id         1971
in_reply_to_user_id           1971
timestamp                     0
source                        0
text                          0
retweeted_status_id           1994
retweeted_status_user_id      1994
retweeted_status_timestamp    1994
expanded_urls                 0
rating_numerator              0
rating_denominator            0
name                          0
doggo                         0
floofer                       0
pupper                        0
puppo                         0
jpg_url                       0
img_num                       0
p1                            0
p1_conf                       0
p1_dog                        0
p2                            0
p2_conf                       0
p2_dog                        0
p3                            0
p3_conf                       0
p3_dog                        0
dtype: int64

### Define
extract numerator and denminaotr

In [31]:
# extract denominator and numertor form text col:

rating = clean_data.text.str.extract('((?:\d+\.)?\d+)\/(\d+)', expand=True)
rating.column=['rating_numerator','rating_denominator']
drop_col=['rating_numerator','rating_denominator']
clean_data.loc[:,'rating_numerator'] = rating['rating_numerator'].astype(float)
clean_data['rating_denominator'] = rating['rating_denominator'].astype(float)

<ipython-input-31-e64a298cb2ff>:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  rating.column=['rating_numerator','rating_denominator']

KeyError: 'rating_numerator'

In [ ]:
###### Test

In [ ]:
print(clean_data.rating_numerator.value_counts())
print(clean_data.rating_denominator.value_counts())

#### Define
Fix numerator and denominator

#### Code

In [ ]:
clean_data.loc[clean_data.rating_denominator == 2,'rating_denominator']=10
clean_data.loc[clean_data.rating_denominator == 7,'rating_denominator']=10

        
clean_data.loc[clean_data.tweet_id ==883482846933004000,'rating_numerator']= 13.5
clean_data.loc[clean_data.rating_numerator ==9,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==8,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==7,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==5,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==6,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==3,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==4,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==2,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==1,'rating_numerator']= 10
clean_data.loc[clean_data.rating_numerator ==0,'rating_numerator']= 10

#### Test

In [ ]:
print(clean_data.rating_numerator.value_counts())
print(clean_data.rating_denominator.value_counts())

#### Define
drop unwanted cols

##### Code

In [ ]:
#drop tweets
clean_data = clean_data[pd.isnull(clean_data['retweeted_status_user_id'])]

print(sum(clean_data.retweeted_status_user_id.value_counts()))


#drop unwanted col
droped_col = ['in_reply_to_user_id','in_reply_to_status_id',
                            'retweeted_status_timestamp','retweeted_status_user_id',
                            'retweeted_status_id','p2','p2_conf','p2_dog','p3','p3_conf','p3_dog','img_num']


clean_data=clean_data.drop(clean_data[droped_col],1)

#### Test

In [ ]:
print(clean_data.info())

#### Define
rename some cols with meaningful names

#### Code

In [ ]:
clean_data.rename(columns={'p1_dog':'flag',
                               'p1':'prediction','p1_conf':'confidence'},inplace=True)

#### Test

In [ ]:
print(clean_data.info())

#### Define
edit data type for some columns

#### Code

In [ ]:
clean_data['timestamp'] = pd.to_datetime(clean_data['timestamp'])
clean_data['confidence'].fillna('None',inplace = True)
clean_data['confidence']= clean_data['confidence'].astype('float')
clean_data['tweet_id']=clean_data['tweet_id'].astype('str')
clean_data['rating_numerator']=clean_data['rating_numerator'].astype('float')
clean_data['rating_denominator']=clean_data['rating_denominator'].astype('float')

#### Test

In [ ]:
print(clean_data.info())

#### Define
clean source col

#### Code

In [ ]:
clean_data['source']=clean_data['source'].str.extract('^<a.+>(.+)</a>$')

#### Test

In [ ]:
print(clean_data.source.value_counts())

#### Define
Combine and clean different dog stages (eg: pupper,doggo) columns into one

### Code

In [ ]:
# Handel Multiple dog loife stage

clean_data.doggo.replace('None','',inplace= True)
clean_data.floofer.replace('None','',inplace= True)
clean_data.pupper.replace('None','',inplace= True)
clean_data.puppo.replace('None','',inplace= True)

clean_data['dog_stage']=clean_data.doggo + clean_data.floofer + clean_data.pupper + clean_data.puppo
clean_data.loc[ clean_data.dog_stage ==  'doggofloofer','dog_stage'] = 'doggo , floofer'
clean_data.loc[clean_data.dog_stage == 'doggopupper','dog_stage'] = 'doggo , pupper'
clean_data.loc[clean_data.dog_stage == 'doggopuppo','dog_stage'] = 'doggo , puppo'
clean_data.loc[clean_data.dog_stage == '','dog_stage']=np.nan




'''
clean_data[clean_data.dog_stage == '']=np.nan

melt_cols=['doggo','floofer','pupper','puppo']
remaning_cols = [col for col in clean_data.columns.tolist() if col not in melt_cols]
    
clean_data = pd.melt(clean_data,id_vars=remaning_cols,
value_vars=melt_cols,value_name='life_stage',var_name='stage')
clean_data = clean_data.drop('stage',1)
'''
clean_data['dog_stage']= clean_data['dog_stage'].astype('category')
clean_data=clean_data.drop(['pupper','puppo','floofer','doggo'],1)

#### Test

In [ ]:
print(clean_data['dog_stage'].value_counts())

### Define
Drop duplicates

### Code

In [ ]:
clean_data= clean_data.drop_duplicates()

### Test

In [ ]:
print(clean_data.duplicated().value_counts())

#### Define
edit names

#### Code

In [ ]:
'''invalid_name=['a','an','actually','all','by','getting','his','incredibly','infuriating'
                  ,'just','life','light','mad','my','not','officially','old','one','quite'
                  ,'space','such','the','unacceptable','very',' a']

for name in invalid_name:
        i=clean_data[clean_data['name']==name].index.values
        clean_data['name'][i]=np.nan

clean_data.name= clean_data.name.replace('a','None')        
clean_data.name=clean_data.name.replace('^[a-z]+',np.nan)
'''
#mask = clean_data.name.str.contains('^[a-z]+',regex=True)
#print(clean_data.name[mask].value_counts())

invalid_name_index = clean_data[clean_data.name.str.islower()].index
clean_data.drop(invalid_name_index,inplace=True)

#### Test

In [ ]:
print(clean_data.name.value_counts())
print(clean_data.shape)

#### Storing Data

In [ ]:
#store clean data in csv file
clean_data.to_csv('twitter_archive_master.csv', index=False ,encoding = 'utf-8')

#### Analyzing and Visualization
<a id="Analyzing" class="anchor"></a>

##### Insight  one and its visualization

###### Number of dogs in every life stage:

In [ ]:
print(clean_data.dog_stage.value_counts())

In [ ]:
clean_data.dog_stage.value_counts().plot.bar( figsize=(15,8),title="Dog's Life Stage").set_xlabel('Life Stage')

##### Insight Two

###### Most used resources

In [ ]:
src = []
src=clean_data.source.value_counts()
src

In [ ]:
src.plot.pie(figsize=(15,8),title='Most Uesed Sources', ylabel = '')

##### Insight Three

##### Photos of dogs VS Photos of other things "represented by true and false

In [ ]:
clean_data.flag.value_counts().plot.bar()

In [ ]:
clean_data.rating_numerator.mean()

In [ ]:
clean_data.favorite_count.mean()

##### Most Commn names

In [ ]:
Popular_name=clean_data.name.value_counts().nlargest(10)
Popular_name

In [ ]:
Popular_name.plot.bar(figsize=(15,8),title='Most Popular Names ').set_xlabel('Names')

####  Visualizing the retweets counts, and favorite counts  over tim

In [ ]:
sns.lmplot(x="retweet_count", 
           y="favorite_count", 
           data=clean_data,
           size = 5,
           aspect=1.3,
           scatter_kws={'alpha':1/5});

plt.title('Favorite Count vs. Retweet Count');
plt.xlabel('Retweet Count');
plt.ylabel('Favorite Count');